@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Open+Sans&family=Work+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.text-gray {
  color: #727272;
}
.common-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 24px;
}

/* Header style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-content {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
.banner-discription {
  color: #424242;
  padding: 10px 0;
}
.btn-primary {
  border: none;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 700px;
  color: #fff;
  cursor: pointer;
}
.banner img {
  width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}

.features-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.features-content {
  padding-left: 70px;
  padding-right: 70px;
}
.feature-title {
  font-size: 2.8rem;
}
.feature-description {
  color: #727272;
  margin: 10px 0;
}
.feature-title .qiuck-list {
  color: #727272;
  font-weight: 500;
}
.feature {
  color: #ff900e;
  font-weight: 700;
}

/* facts style */
.facts {
  margin-top: 100px;
  margin-bottom: 120px;
}
.facts-content{
    margin-bottom: 100px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px 30px;
  
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #727272;
}
.facts-card-container .cart-stats{
    font-size: 2.8rem;
    font-weight: 700;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsor styles here */

.sponsor-heading{
    text-align: center;
    margin-bottom: 50px;
}
.sponsor-img-container img{
    width: 150px;
    height: 50px;
}
.sponsor-img-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}


















/* responsive styles */
/* mobile device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  .features-container,
  .facts-card-container,
  .sponsor-img-container
  {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .features-content,
  .facts-card-container
  {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* rab and medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 40px;
  }
  nav,
  .features-container {
    flex-direction: column;
  }
  .features-container,
  .facts-card-container
   {
    padding: 20px;
  }
}
